@tailwind base;
@tailwind components;
@tailwind utilities;

.debug * {
  outline: 1px solid gold;
}

.layout {
  @apply flex flex-col min-h-screen justify-between;
}

.max-w-desktop {
  @apply max-w-7xl mx-auto;
}

.popper {
  @apply relative;
}

.popper-menu {
  @apply absolute w-60 top-14 right-0  bg-pc_gray rounded-sm shadow-lg text-white z-10;
}

.popper-menu {
  min-width: 280px;
}

.popper .popper-menu {
  display: none;
}

.popper:hover .popper-menu {
  display: block;
}

.border-pc_horizon-opacity-10 {
  border-color: rgba(255, 255, 255, 0.25);
}

.popper-menu-item {
  @apply cursor-pointer hover:text-pc_orange
  border-t border-pc_horizon-opacity-10;
}

.popper-menu-item {
  padding: 32px 23px;
}

.btn-polygon {
  background: linear-gradient(155.89deg, #ffcc21 8.26%, #ff963c 91.18%);
}

.btn-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.btn-load-more {
  @apply flex items-center justify-center text-white cursor-pointer;
}

.btn-load-more {
  width: 296px;
  height: 56px;
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
}

.record-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.125px;
}

.record-title {
  @apply text-center text-pc_yellow;
}
