@tailwind base;
@tailwind components;
@tailwind utilities;

.debug * {
  outline: 1px solid gold;
}

.layout {
  @apply flex flex-col min-h-screen justify-between;
}

.max-w-desktop {
  @apply max-w-7xl mx-auto;
}

.popper {
  @apply relative;
}

.popper-menu {
  @apply absolute w-60 top-14 right-0  bg-pc_gray rounded-sm shadow-lg text-white;
}

.popper-menu{
    min-width: 280px;
}

.popper .popper-menu {
  display: none;
  
}

.popper:hover .popper-menu {
  display: block;
 
}

.popper-menu-item {
  @apply cursor-pointer hover:opacity-95 hover:text-pc_orange;
}
.popper-menu-item {
  padding: 32px 23px;
}
